{{Strip}}
<div class="form-group">
    <label class="col-sm-2 control-label">{{"分组"|$.T}}</label>
    <div class="col-sm-4">
        {{- $v := $.Form "groupId" -}}
        <select class="form-control" name="groupId">
            <option value="">{{"<无>"|$.T}}</option>
            {{- range $k,$g:=$.Stored.Get "groupList" -}}
            <option value="{{$g.Id}}"{{if eq $v (Str $g.Id)}} selected{{end}}>{{$g.Name}}</option>
            {{- end -}}
        </select>
    </div>
    <label class="col-sm-2 control-label">{{"引擎配置"|$.T}}</label>
    <div class="col-sm-4">{{$v := $.Form "serverIdent"}}
        <select class="form-control" id="serverIdent" name="serverIdent">
            <option value="default" data-engine="default" data-environ="local">{{"<默认>"|$.T}}</option>
            {{- range $k,$g:=$.Stored.Get "serverList" -}}
            <option value="{{$g.Ident}}" data-engine="{{$g.Engine}}" data-environ="{{$g.Environ}}"{{if eq $v $g.Ident}} selected{{end}}>{{$g.Name}}</option>
            {{- end -}}
        </select>
    </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">{{"监听地址"|$.T}}</label>
  <div class="col-sm-10">
      <input type="text" id="bind-address" name="domain" class="form-control" required="required" value="{{$.Form `domain`}}">
      <div class="help-block">
        {{"可以是网址、域名或IP。如果不提供端口则默认为2005，如果不提供协议(比如https://)则默认为http，如果不提供IP和域名则默认为0.0.0.0，如果只想允许本机访问请设置为localhost或127.0.0.1。"|$.T}}<br />
        {{"域名支持通配符“*”(例如*.admpub.com)和环境变量(环境变量用花括号括起来，例如localhost:{$PORT})。"|$.T}}<br />
        {{"例子"|$.T}}: 
        <span class="badge badge-success clickable" onclick="App.insertAtCursor($('#bind-address')[0],$(this).text(),8,18);">https://admpub.com:443</span>
        <span class="badge badge-primary clickable" onclick="App.insertAtCursor($('#bind-address')[0],$(this).text(),0,10);">admpub.com:80</span>
        <span class="badge badge-danger clickable" onclick="App.insertAtCursor($('#bind-address')[0],$(this).text(),1,6);">:8080</span>
        <span class="badge badge-info clickable" onclick="App.insertAtCursor($('#bind-address')[0],$(this).text(),10,14);">127.0.0.1:9999</span><br />
        {{"监听地址如有多个，用空格隔开。"|$.T}}
      </div>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">{{"网站位置"|$.T}}</label>
  <div class="col-sm-10">
      <input type="text" id="www-root-path" name="root" class="form-control typeahead" value="{{$.Form `root`}}" data-provide="typeahead">
      <div class="help-block">{{"网站文件夹在服务器上的绝对路径"|$.T}}</div>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">{{"网站名称"|$.T}}</label>
  <div class="col-sm-10">
      <input type="text" name="name" class="form-control" value="{{$.Form `name`}}">
      <div class="help-block">
        {{"为了提高辨识度，您可以给网站起一个名字。"|$.T}}
      </div>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">{{"默认首页"|$.T}}</label>
  <div class="col-sm-10">
      <input type="text" name="index" class="form-control" value="{{$.Form `index`}}">
      <div class="help-block">{{"默认首页文件，多个之间用半角空格隔开，如不填写，默认为："|$.T}}<br/> 
        index.html index.htm index.txt default.html default.htm default.txt
      </div>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">{{"访问日志"|$.T}}</label>
  <div class="col-sm-10">
    {{- $v := $.Form `log` `1` -}}
    <div class="radio radio-primary radio-inline"> 
      <input type="radio" value="1" id="log-enable" name="log" data-slide-settings="show"{{if eq $v `1`}} checked{{end}}><label for="log-enable">{{"启用"|$.T}}</label> 
    </div>
    <div class="radio radio-danger radio-inline"> 
      <input type="radio" value="0" id="log-disable" name="log" data-slide-settings="hide"{{if eq $v `0` ``}} checked{{end}}><label for="log-disable">{{"禁用"|$.T}}</label> 
    </div>
    <div class="fieldset bg-fc hide" id="log-settings">
      {{- if eq $v `1`}}{{Include "caddy/addon/form/log"}}{{end -}}
    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">
    {{"HTTPS"|$.T}}
    <a class="engine-show-default" href="https://caddyserver.com/docs/tls" target="_blank" data-toggle="tooltip" title="{{`查看文档`|$.T}}" class="normal">(?)</a>
    <a class="engine-show-caddy2" href="https://caddyserver.com/docs/caddyfile/directives/tls" target="_blank" data-toggle="tooltip" title="{{`查看文档`|$.T}}" class="normal">(?)</a>
    <a class="engine-show-nginx" href="https://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl" target="_blank" data-toggle="tooltip" title="{{`查看文档`|$.T}}" class="normal">(?)</a>
  </label>
  <div class="col-sm-10">
      {{- $v := $.Form "tls" -}}
      <div class="radio radio-primary radio-inline"> 
        <input type="radio" value="1" id="tls-enable" name="tls" data-slide-settings="show"{{if eq $v `1`}} checked{{end}}><label for="tls-enable">{{"启用"|$.T}}</label> 
      </div>
      <div class="radio radio-danger radio-inline"> 
        <input type="radio" value="0" id="tls-disable" name="tls" data-slide-settings="hide"{{if eq $v `0` ``}} checked{{end}}><label for="tls-disable">{{"禁用"|$.T}}</label> 
      </div>
      <div class="fieldset bg-fc hide" id="tls-settings">
          {{- if eq $v `1`}}{{Include "caddy/addon/form/tls"}}{{end -}}
      </div>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">
    {{"GZIP"|$.T}}
    <a class="engine-show-default" href="https://caddyserver.com/docs/gzip" target="_blank" data-toggle="tooltip" title="{{`查看文档`|$.T}}" class="normal">(?)</a>
    <a class="engine-show-caddy2" href="https://caddyserver.com/docs/caddyfile/directives/encode" target="_blank" data-toggle="tooltip" title="{{`查看文档`|$.T}}" class="normal">(?)</a>
    <a class="engine-show-nginx" href="https://nginx.org/en/docs/http/ngx_http_gzip_module.html#gzip" target="_blank" data-toggle="tooltip" title="{{`查看文档`|$.T}}" class="normal">(?)</a>
  </label>
  <div class="col-sm-10">
    {{- $v := $.Form "gzip" -}}
    <div class="radio radio-primary radio-inline"> 
      <input type="radio" value="1" id="gzip-enable" name="gzip" data-slide-settings="show"{{if eq $v `1`}} checked{{end}}><label for="gzip-enable">{{"启用"|$.T}}</label> 
    </div>
    <div class="radio radio-danger radio-inline"> 
      <input type="radio" value="0" id="gzip-disable" name="gzip" data-slide-settings="hide"{{if eq $v `0` ``}} checked{{end}}><label for="gzip-disable">{{"禁用"|$.T}}</label> 
    </div>
      <div class="fieldset bg-fc hide" id="gzip-settings">
          {{- if eq $v `1`}}{{Include "caddy/addon/form/gzip"}}{{end -}}
      </div>
  </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">
      {{"静态文件缓存"|$.T}}
      <a class="engine-show-default" href="https://caddyserver.com/docs/http.expires" target="_blank" data-toggle="tooltip" title="{{`查看文档`|$.T}}" class="normal">(?)</a>
    </label>
    <div class="col-sm-10">
      {{- $v := $.Form "expires" -}}
      <div class="radio radio-primary radio-inline"> 
        <input type="radio" value="1" id="expires-enable" name="expires" data-slide-settings="show"{{if eq $v `1`}} checked{{end}}><label for="expires-enable">{{"启用"|$.T}}</label> 
      </div>
      <div class="radio radio-danger radio-inline"> 
        <input type="radio" value="0" id="expires-disable" name="expires" data-slide-settings="hide"{{if eq $v `0` ``}} checked{{end}}><label for="expires-disable">{{"禁用"|$.T}}</label> 
      </div>
      <div class="fieldset bg-fc hide" id="expires-settings">
        {{- if eq $v `1`}}{{Include "caddy/addon/form/expires"}}{{end -}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">
      {{"网址重写"|$.T}}
      <a class="engine-show-default" href="https://caddyserver.com/docs/rewrite" target="_blank" data-toggle="tooltip" title="{{`查看文档`|$.T}}" class="normal">(?)</a>
      <a class="engine-show-caddy2" href="https://caddyserver.com/docs/caddyfile/directives/rewrite" target="_blank" data-toggle="tooltip" title="{{`查看文档`|$.T}}" class="normal">(?)</a>
      <a class="engine-show-nginx" href="https://nginx.org/en/docs/http/ngx_http_rewrite_module.html#rewrite" target="_blank" data-toggle="tooltip" title="{{`查看文档`|$.T}}" class="normal">(?)</a>
    </label>
    <div class="col-sm-10">
      <textarea type="text" id="rewrite_rule" class="form-control" style="min-height:200px" name="rewrite_rule">{{$.Form `rewrite_rule`}}</textarea>
      <div class="help-block">
        <div class="engine-show-default">{{Include "caddy/addon/help_rewrite"}}</div><!-- /.engine-show-default -->
        <div class="engine-show-caddy2">
          {{`语法：`|$.T}} <strong>rewrite</strong> <em>[&lt;matcher&gt;]</em> <em>&lt;to&gt;</em><br />
          {{`例如：`|$.T}}  
          <pre>rewrite * /foo.html
rewrite /api/* ?a=b
rewrite /api/* ?{query}&a=b
rewrite * /index.php?{query}&p={path}</pre>
        </div><!-- /.engine-show-caddy2 -->
        <div class="engine-show-nginx">
          {{`语法：`|$.T}} <strong>rewrite</strong> <em>regex</em> <em>replacement</em> <em>[flag]</em>;<br />
          {{`例如：`|$.T}} 
          <pre>rewrite ^(/download/.*)/media/(.*)\..*$ $1/mp3/$2.mp3 last;
rewrite ^(/download/.*)/audio/(.*)\..*$ $1/mp3/$2.ra last;</pre>
        </div><!-- /.engine-show-nginx -->
      </div><!-- /.help-block -->
    </div> 
  </div>

<div class="form-group">
    <label class="col-sm-2 control-label">{{"备注"|$.T}}</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="remark">{{$.Form `remark`}}</textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">{{"网站状态"|$.T}}</label>
    <div class="col-sm-10">
      {{- $v := $.Form "disabled" -}}
      <div class="radio radio-primary radio-inline"> 
        <input type="radio" value="N" id="disabled-N" name="disabled"{{if eq $v `N` ``}} checked{{end}}><label for="disabled-N">{{"启用"|$.T}}</label> 
      </div>
      <div class="radio radio-danger radio-inline"> 
        <input type="radio" value="Y" id="disabled-Y" name="disabled"{{if eq $v `Y`}} checked{{end}}><label for="disabled-Y">{{"禁用"|$.T}}</label> 
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">{{"附加操作"|$.T}}</label>
    <div class="col-sm-10">
      <div class="checkbox checkbox-success checkbox-inline"> 
        <input type="checkbox" value="1" id="restart-enable" name="restart" checked="checked"><label for="restart-enable" class="text-left">{{"重启服务"|$.T}}</label>
      </div>
      <div class="checkbox checkbox-warning checkbox-inline"> 
        <input type="checkbox" value="1" id="removeCachedCert" name="removeCachedCert"><label for="removeCachedCert" class="text-left">{{"删除HTTPS证书缓存"|$.T}}</label> 
      </div>
    </div>
  </div>
{{/Strip}}