<div class="form-group">
    <label class="col-sm-2 control-label">{{"路径"|$.T}}</label>
    <div class="col-sm-10">
       <input type="text" class="form-control" value="{{$.Form (call $.Func.Key `jwt_path`) `/`}}" name="{{call $.Func.Key `jwt_path`}}" required="required" placeholder="">
       <div class="help-block">{{"访问路径，默认为“/”"|$.T}}</div>
    </div>
  </div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"跳转网址"|$.T}}</label>
    <div class="col-sm-10">
       <input type="text" class="form-control" value="{{$.Form (call $.Func.Key `jwt_redirect`)}}" name="{{call $.Func.Key `jwt_redirect`}}" placeholder="">
       <div class="help-block">{{"验证失败后的跳转网址或路径，如果不设置，则返回带访问受限状态码的页面"|$.T}}</div>
    </div>
  </div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"公开路径"|$.T}}</label>
    <div class="col-sm-10">
       <input type="text" class="form-control" value="{{$.Form (call $.Func.Key `jwt_except`)}}" name="{{call $.Func.Key `jwt_except`}}" placeholder="">
       <div class="help-block">
        {{"无需JWT验证的路径。比如："|$.T}}<code>/login</code>
        {{"一般与上面的“跳转网址”中设置的路径保持一致"}}
      </div>
    </div>
  </div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"允许值"|$.T}}</label>
    <div class="col-sm-10">
       <table>
            <thead>
                <tr>
                    <th style="width:50%;">{{"名称"|$.T}}</th>
                    <th>{{"值"|$.T}}</th>
                    <th width="70">{{"删除"|$.T}}</th>
                </tr>
            </thead>
            <tbody>
              {{- $allowKeyName := call $.Func.Key `jwt_allow_k` -}}
              {{- $allowValName := call $.Func.Key `jwt_allow_v` -}}
           {{- $vals := $.FormValues $allowValName -}}
           {{- $vlen := len $vals -}}
           {{- range $k,$v:=$.FormValues $allowKeyName -}}
               {{- if lt $k $vlen -}}
<tr>
<td><input type="text" class="form-control" name="{{$allowKeyName}}" value="{{$v}}"></td>
<td><input type="text" class="form-control" name="{{$allowValName}}" value="{{index $vals $k}}"></td>
<td class="text-center">
<button type="button" class="btn btn-danger" onclick="$(this).parent().parent().remove()">
<i class="fa fa-times"></i>
</button>
</td>
</tr>
                   
               {{end -}}
           {{end -}}
                  <tr>
                      <td colspan="3" class="text-center primary-emphasis" style="cursor:pointer" id="jwtAllowBtn" onclick="addKVs(this,'jwt_allow_k','jwt_allow_v');"><i class="fa fa-plus"></i></td>
                  </tr>
              </tbody>
        </table>
       <div class="help-block">{{"指定所允许的Claims数据中的键和值，只要任何一个匹配则被允许。例如有Claims数据："|$.T}}
           <pre>{
    "user": "test",
    "role": "admin",
    "logins": 10,
    "groups": ["user", "operator"],
    "data": {
        "payload": "something"
    }
}</pre>{{$.T "可以指定键为“%s”，值为“%s”" "role" "admin"}}{{"或者"|$.T}}{{$.T "%s和%s" "user" "test"}}</div>
    </div>
  </div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"禁止值"|$.T}}</label>
    <div class="col-sm-10">
       <table>
            <thead>
                <tr>
                    <th style="width:50%;">{{"名称"|$.T}}</th>
                    <th>{{"值"|$.T}}</th>
                    <th width="70">{{"删除"|$.T}}</th>
                </tr>
            </thead>
            <tbody>
              {{- $denyKeyName := call $.Func.Key `jwt_deny_k` -}}
              {{- $denyValName := call $.Func.Key `jwt_deny_v` -}}
           {{- $vals := $.FormValues $denyValName -}}
           {{- $vlen := len $vals -}}
           {{- range $k,$v:=$.FormValues $denyKeyName -}}
               {{- if lt $k $vlen -}}
<tr>
<td><input type="text" class="form-control" name="{{$denyKeyName}}" value="{{$v}}"></td>
<td><input type="text" class="form-control" name="{{$denyValName}}" value="{{index $vals $k}}"></td>
<td class="text-center">
<button type="button" class="btn btn-danger" onclick="$(this).parent().parent().remove()">
<i class="fa fa-times"></i>
</button>
</td>
</tr>
                   
               {{- end -}}
           {{- end -}}
                  <tr>
                      <td colspan="3" class="text-center primary-emphasis" style="cursor:pointer" id="jwtDenyBtn" onclick="addKVs(this,'jwt_deny_k','jwt_deny_v');"><i class="fa fa-plus"></i></td>
                  </tr>
              </tbody>
        </table>
       <div class="help-block">{{"指定禁止的Claims数据中的键和值。"|$.T}}</div>
    </div>
  </div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"其它设置"|$.T}}</label>
    <div class="col-sm-10">
        <div class="checkbox checkbox-primary checkbox-inline"> 
          <input type="checkbox" value="1" id="jwt_allowroot" name="{{call $.Func.Key `jwt_allowroot`}}"{{if eq ($.Form (call $.Func.Key `jwt_allowroot`)) `1`}} checked{{end}}><label for="jwt_allowroot">{{"允许公开根路径"|$.T}}</label> 
        </div>
        <div class="checkbox checkbox-danger checkbox-inline"> 
          <input type="checkbox" value="1" id="jwt_passthrough" name="{{call $.Func.Key `jwt_passthrough`}}"{{if eq ($.Form (call $.Func.Key `jwt_passthrough`)) `1`}} checked{{end}}><label for="jwt_passthrough">{{"忽略验证"|$.T}}</label> 
        </div>
        <div class="checkbox checkbox-primary checkbox-inline"> 
          <input type="checkbox" value="1" id="jwt_strip_header" name="{{call $.Func.Key `jwt_strip_header`}}"{{if eq ($.Form (call $.Func.Key `jwt_strip_header`)) `1`}} checked{{end}}><label for="jwt_strip_header">{{"Claims数据中的键名取最后一个“/”后面的值"|$.T}} (strip_header)</label> 
        </div>
        <div class="help-block">
        </div>
    </div>
  </div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"公钥文件"|$.T}}</label>
    <div class="col-sm-10">
        <table>
			<thead>
				<tr>
					<th>{{"公钥文件路径"|$.T}}</th>
					<th width="70">{{"删除"|$.T}}</th>
				</tr>
			</thead>
			<tbody>
        {{- $inputName := call $.Func.Key `jwt_publickey` -}}
            {{- range $k,$v:=$.FormValues $inputName -}}
<tr>
	<td><input type="text" class="form-control" name="{{$inputName}}" value="{{$v}}"></td>
	<td class="text-center">
    <button type="button" class="btn btn-danger" onclick="$(this).parent().parent().remove()">
      <i class="fa fa-times"></i>
    </button>
  </td>
</tr>
            {{- end -}}
				<tr>
					<td colspan="3" class="text-center primary-emphasis" style="cursor:pointer" id="jwtPublickeyBtn" onclick="addKs(this,'jwt_publickey');"><i class="fa fa-plus"></i></td>
				</tr>
			</tbody>
		</table>
       <div class="help-block">{{"公钥路径，支持多个公钥。用于RSA或ECDSA格式的令牌(Token)。例如："|$.T}}<code>/path/to/key.pem</code></div>
    </div>
  </div>

<div class="form-group">
    <label class="col-sm-2 control-label">{{"安全文件"|$.T}}</label>
    <div class="col-sm-10">
       <input type="text" class="form-control" value="{{$.Form (call $.Func.Key `jwt_secret`)}}" name="{{call $.Func.Key `jwt_secret`}}" placeholder="/path/to/secret.txt">
       <div class="help-block">{{"用于HMAC格式的令牌(Token)"|$.T}}</div>
    </div>
  </div>


<div class="form-group">
    <label class="col-sm-2 control-label">{{"令牌来源"|$.T}}</label>
    <div class="col-sm-10">
        <div class="checkbox checkbox-primary"> 
          <input type="checkbox" value="header" id="jwt_token_source-header" name="{{call $.Func.Key `jwt_token_source_header`}}"{{if eq ($.Form (call $.Func.Key `jwt_token_source_header`)) `header`}} checked{{end}}><label for="jwt_token_source-header">Header</label>
        </div>
        <div class="checkbox checkbox-primary"> 
          <input type="checkbox" value="cookie" id="jwt_token_source-cookie" name="{{call $.Func.Key `jwt_token_source_cookie`}}"{{if eq ($.Form (call $.Func.Key `jwt_token_source_cookie`)) `cookie`}} checked{{end}} onclick="if($(this).prop('checked')){$('#jwt_token_source-cookie_name').show();}else{$('#jwt_token_source-cookie_name').hide();}"><label for="jwt_token_source-cookie">Cookie</label>
          <div class="input-group" id="jwt_token_source-cookie_name"{{if ne ($.Form (call $.Func.Key `jwt_token_source_cookie`)) `cookie`}} style="display:none"{{end}}>
              <span class="input-group-addon">{{"Cookie名称"|$.T}}</span>
              <input type="text" class="form-control" name="{{call $.Func.Key `jwt_token_source_cookie_name`}}" value="{{$.Form (call $.Func.Key `jwt_token_source_cookie_name`) `jwt_token`}}" placeholder="jwt_token">
            </div>
        </div>
        <div class="checkbox checkbox-primary"> 
          <input type="checkbox" value="query_param" id="jwt_token_source-query_param" name="{{call $.Func.Key `jwt_token_source_query_param`}}"{{if eq ($.Form (call $.Func.Key `jwt_token_source_query_param`)) `query_param`}} checked{{end}} onclick="if($(this).prop('checked')){$('#jwt_token_source-query_param_name').show();}else{$('#jwt_token_source-query_param_name').hide();}"><label for="jwt_token_source-query_param">{{"网址参数"|$.T}}</label>
          <div class="input-group" id="jwt_token_source-query_param_name"{{if ne ($.Form (call $.Func.Key `jwt_token_source_query_param`)) `query_param`}} style="display:none"{{end}}>
              <span class="input-group-addon">{{"参数名称"|$.T}}</span>
              <input type="text" class="form-control" name="{{call $.Func.Key `jwt_token_source_query_param_name`}}" value="{{$.Form (call $.Func.Key `jwt_token_source_query_param_name`) `token`}}" placeholder="token">
            </div>
        </div>
        <div class="help-block">
        </div>
    </div>
  </div>