
<div class="form-group">
  <label class="col-sm-2 control-label">{{"路径"|$.T}}</label>
  <div class="col-sm-4">
     <input type="text" class="form-control" value="{{$.Form (call $.Func.Key `locale_path`)}}" name="{{call $.Func.Key `locale_path`}}" placeholder="/">
     <div class="help-block"></div>
  </div>
    <label class="col-sm-2 control-label">{{"支持语言"|$.T}}</label>
    <div class="col-sm-4">
       <input type="text" class="form-control" value="{{$.Form (call $.Func.Key `locale_available`) `en zh-CN`}}" name="{{call $.Func.Key `locale_available`}}" required="required" placeholder="">
       <div class="help-block">{{"设置支持的语言。多个用空格隔开。例如："|$.T}}<code>en zh-CN</code></div>
    </div>
  </div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"语言确认方式"|$.T}}</label>
    <div class="col-sm-10">
      {{- $inputName := call $.Func.Key `locale_detect` -}}
        {{- $vals := $.FormValues $inputName -}}
        {{- $size := len $vals -}}
        {{- $hasHeader := or (eq $size 0) (InSlice "header" $vals) -}}
       <div class="checkbox checkbox-primary"> 
         <input type="checkbox" value="header" id="{{$.Get `namePrefix`}}locale_detect-header" name="{{$inputName}}"{{if $hasHeader}} checked{{end}}><label for="{{$.Get `namePrefix`}}locale_detect-header">Header</label>
       </div>
       {{- $hasCookie := InSlice "cookie" $vals -}}
       <div class="checkbox checkbox-primary"> 
         <input type="checkbox" value="cookie" id="{{$.Get `namePrefix`}}locale_detect-cookie" name="{{$inputName}}"{{if $hasCookie}} checked{{end}} onclick="if($(this).prop('checked')){$(this).siblings('.input-group').show()}else{$(this).siblings('.input-group').hide()}"><label for="{{$.Get `namePrefix`}}locale_detect-cookie">Cookie</label>
         <div class="input-group"{{if not $hasCookie}} style="display:none"{{end}}>
             <span class="input-group-addon">{{"Cookie名称"|$.T}}</span>
             <input type="text" class="form-control" name="{{call $.Func.Key `locale_cookie`}}" value="{{$.Form (call $.Func.Key `locale_cookie`)}}" placeholder="locale">
           </div>
       </div>
       <div class="help-block">{{"如果不设置，则所有域名将被授权访问。如有多个域名，用空格隔开"|$.T}}</div>
    </div>
  </div>