<div class="form-group">
    <label class="col-sm-2 control-label">{{"成功后网址"|$.T}}</label>
    <div class="col-sm-10">
       <input type="text" class="form-control" value="{{$.Form `login_success_url`}}" name="login_success_url" placeholder="/">
       <div class="help-block">{{"认证成功后跳转的路径或网址"|$.T}}</div>
    </div>
</div>
<div class="form-group">
   <label class="col-sm-2 control-label">{{"登录路径"|$.T}}</label>
   <div class="col-sm-10">
      <input type="text" class="form-control" value="{{$.Form `login_login_path`}}" name="login_login_path" placeholder="/login">
      <div class="help-block">{{"登录页面的路径或网址。一般设置为路径“/login”且与上面“JWT”中的“跳转网址”保持一致"|$.T}}</div>
   </div>
</div>
<div class="form-group">
   <label class="col-sm-2 control-label">{{"登出网址"|$.T}}</label>
   <div class="col-sm-10">
      <input type="text" class="form-control" value="{{$.Form `login_logout_url`}}" name="login_logout_url" placeholder="">
      <div class="help-block">{{"进行登出操作的路径或网址。除此之外，当前网址参数 logout=true 时也能进行登出"|$.T}}</div>
   </div>
</div>
<div class="form-group">
   <label class="col-sm-2 control-label">{{"登录页面模板"|$.T}}</label>
   <div class="col-sm-10">
      <input type="text" class="form-control" value="{{$.Form `login_template`}}" name="login_template" placeholder="">
      <div class="help-block">{{`设置登录页的模板文件路径。如果不设置，则使用<a href="https://github.com/caddy-plugins/loginsrv/blob/master/login/login_form.go#L89" target="_blank">默认模板内容</a>`|$.T|ToHTML}}</div>
   </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"JWT设置"|$.T}}</label>
    <div class="col-sm-10">
      <div class="fieldset bg-fc">
       <div class="form-group">
          <label class="col-sm-2 control-label">{{"密码"|$.T}}</label>
          <div class="col-sm-4">
            <span class="input-group">
             <input type="password" class="form-control" value="{{$.Form `login_jwt_secret`}}" name="login_jwt_secret" placeholder="">
             <span class="input-group-btn">
             <a href="javascript:;" data-target="[name=login_jwt_secret]" class="btn btn-default show-password">
               <i class="fa fa-eye"></i>
               {{`查看`|$.T}}
             </a>
             </span>
             </span>
             <div class="help-block">{{"JWT密码。如果不设置，则默认随机生成一个密码"|$.T}}</div>
          </div>
          <label class="col-sm-2 control-label">{{"密码文件"|$.T}}</label>
          <div class="col-sm-4">
             <input type="text" class="form-control" value="{{$.Form `login_jwt_secret_file`}}" name="login_jwt_secret_file" placeholder="">
             <div class="help-block">{{"保存JWT密码的文件"|$.T}}</div>
          </div>
        </div><!-- form-group -->
        <div class="form-group">
           <label class="col-sm-2 control-label">{{"加密算法"|$.T}}</label>
           <div class="col-sm-4">
              <input type="text" class="form-control" value="{{$.Form `login_jwt_algo`}}" name="login_jwt_algo" placeholder="HS512">
              <div class="help-block">{{"如果不设置，默认为HS512"|$.T}}</div>
           </div>
            <label class="col-sm-2 control-label">{{"刷新上限"|$.T}}</label>
            <div class="col-sm-4">
               <input type="number" class="form-control" value="{{$.Form `login_jwt_refreshes`}}" name="login_jwt_refreshes" placeholder="0">
               <div class="help-block">{{"允许JWT的最大刷新次数"|$.T}}</div>
            </div>
          </div><!-- form-group -->
          <div class="form-group">
             <label class="col-sm-2 control-label">{{"有效时长"|$.T}}</label>
             <div class="col-sm-4">
                <input type="text" class="form-control" value="{{$.Form `login_jwt_expiry`}}" name="login_jwt_expiry" placeholder="24h" pattern="^[0-9]+(h|m|s)([0-9]+(h|m|s))*$">
                <div class="help-block">{{`格式为数字和单位字母的组合，有效的单位有："s", "m", "h" 分别表示 "秒", "分钟", "小时"`|$.T}}</div>
             </div>
            </div><!-- form-group -->
      </div><!-- fieldset -->
   </div><!-- col-sm-10 -->
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"网址跳转"|$.T}}</label>
    <div class="col-sm-10">
      <div class="radio radio-success radio-inline">
        <input type="radio" id="login_redirect_1" name="login_redirect" value="1"{{if eq ($.Form `login_redirect`) `1`}} checked{{end}}> <label for="login_redirect_1">{{`启用`|$.T}}</label>
      </div><!-- radio -->
      <div class="radio radio-danger radio-inline">
        <input type="radio" id="login_redirect_0" name="login_redirect" value="0"{{if ne ($.Form `login_redirect`) `1`}} checked{{end}}> <label for="login_redirect_0">{{`禁用`|$.T}}</label>
      </div><!-- radio -->
      <div class="fieldset bg-fc">
       <div class="form-group">
          <label class="col-sm-2 control-label">{{"跳转网址参数名"|$.T}}</label>
          <div class="col-sm-10">
             <input type="text" class="form-control" value="{{$.Form `login_redirect_query_parameter`}}" name="login_redirect_query_parameter" placeholder="backTo">
             <div class="help-block">{{"设置含自定义跳转网址的参数名。默认为“backTo”，即当前网址中如果带参数 <code>?backTo=https://coscms.com/</code> ，登录成功后则会跳转到 https://coscms.com/"|$.T|ToHTML}}</div>
          </div>
        </div><!-- form-group -->
        <div class="form-group">
           <label class="col-sm-2 control-label">{{"白名单文件"|$.T}}</label>
           <div class="col-sm-10">
              <input type="text" class="form-control" value="{{$.Form `login_redirect_host_file`}}" name="login_redirect_host_file" placeholder="">
              <div class="help-block">{{"输入包含白名单域名的文件路径，在文件内每行一个域名"|$.T}}</div>
           </div>
         </div><!-- form-group -->
         <div class="form-group">
            <div class="col-sm-2 control-label">&nbsp;</div>
            <div class="col-sm-10">
            <div class="checkbox checkbox-primary checkbox-inline">
              <input type="checkbox" id="login_redirect_check_referer" name="login_redirect_check_referer" value="1"{{if eq ($.Form `login_redirect_check_referer`) `1`}} checked{{end}}> <label for="login_redirect_check_referer">{{`要求来源网址域名相同`|$.T}}</label>
            </div>
            </div>
          </div><!-- form-group -->
      </div><!-- fieldset -->
   </div><!-- col-sm-10 -->
</div>
<div class="form-group">
   <label class="col-sm-2 control-label">{{"Cookie名称"|$.T}}</label>
   <div class="col-sm-4">
      <input type="text" class="form-control" value="{{$.Form `login_cookie_name`}}" name="login_cookie_name" placeholder="jwt_token">
      <div class="help-block">{{"保存JWT数据的Cookie名称。与上面“JWT”功能中的“Cookie名称”保持一致"|$.T}}</div>
   </div>
   <label class="col-sm-2 control-label">{{"有效时长"|$.T}}</label>
   <div class="col-sm-4">
      <span class="input-group">
         <input type="text" class="form-control" value="{{$.Form `login_cookie_exipry`}}" name="login_cookie_exipry" placeholder="0s" pattern="^[0-9]+(h|m|s)([0-9]+(h|m|s))*$">
         <span class="input-group-addon no-padding-y">
            <div class="checkbox checkbox-primary checkbox-inline">
              <input type="checkbox" id="login_cookie_secure" name="login_cookie_secure" value="1"{{if eq ($.Form `login_cookie_secure`) `1`}} checked{{end}}> <label for="login_cookie_secure">Secure</label>
            </div>
         </span>
      </span>
      <div class="help-block">{{`格式为数字和单位字母的组合，有效的单位有："s", "m", "h" 分别表示 "秒", "分钟", "小时"`|$.T}}, {{"0s表示即时有效"|$.T}}</div>
   </div>
</div>
<div class="form-group">
   <label class="col-sm-2 control-label">{{"oAuth2认证"|$.T}}</label>
   <div class="col-sm-10">
      {{- $v := $.Form `login_oauth_type` -}}
      <select name="login_oauth_type" class="form-control" style="margin-bottom:2px" onchange="if(!this.value){$('#login-oauth-setting').addClass('hide');}else{$('#login-oauth-setting').removeClass('hide');if(this.value=='nging'){$('.login-oauth-nging').removeClass('hide');}else{$('.login-oauth-nging').addClass('hide');}}">
         <option value="">- {{`未选择`|$.T}} -</option>
         <option value="nging"{{if eq $v `nging`}} selected{{end}}>Nging</option>
         <option value="github"{{if eq $v `github`}} selected{{end}}>Github</option>
         <option value="google"{{if eq $v `google`}} selected{{end}}>Google</option>
         <option value="gitlab"{{if eq $v `gitlab`}} selected{{end}}>Gitlab</option>
         <option value="gitea"{{if eq $v `gitea`}} selected{{end}}>Gitea</option>
         <option value="wechat"{{if eq $v `wechat`}} selected{{end}}>Wechat</option>
      </select>
      <div class="fieldset bg-fc{{if not $v}} hide{{end}}" id="login-oauth-setting">
         <div class="form-group">
            <label class="col-sm-2 control-label">{{"Client ID"|$.T}}</label>
            <div class="col-sm-10">
               <input type="text" name="login_oauth_client_id" class="form-control" value="{{$.Form `login_oauth_client_id`}}">
            </div>
         </div>
         <div class="form-group">
            <label class="col-sm-2 control-label">{{"Client Secret"|$.T}}</label>
            <div class="col-sm-10">
               <span class="input-group">
               <input type="password" name="login_oauth_client_secret" class="form-control" value="{{$.Form `login_oauth_client_secret`}}">
               <span class="input-group-btn">
               <a href="javascript:;" data-target="[name=login_oauth_client_secret]" class="btn btn-default show-password">
                 <i class="fa fa-eye"></i>
                 {{`查看`|$.T}}
               </a>
               </span>
               </span>
            </div>
         </div>
         <div class="form-group login-oauth-nging{{if ne $v `nging`}} hide{{end}}">
            <label class="col-sm-2 control-label">{{"Nging后台网址"|$.T}}</label>
            <div class="col-sm-10">
               <input type="url" name="login_oauth_host_url" class="form-control" value="{{$.Form `login_oauth_host_url`}}">
            </div>
         </div>
      </div><!-- fieldset -->
    </div>
</div>
<div class="form-group">
   <label class="col-sm-2 control-label">{{"htpasswd认证"|$.T}}</label>
   <div class="col-sm-10">
      <div class="fieldset bg-fc">
      <div class="form-group">
         <label class="col-sm-2 control-label">{{"文件路径"|$.T}}</label>
         <div class="col-sm-10">
            <input type="text" name="login_htpasswd_file" class="form-control" value="{{$.Form `login_htpasswd_file`}}">
            <div class="help-block">{{`htpasswd文件路径`|$.T}}</div>
         </div>
      </div>
      </div>
    </div>
</div>
<div class="form-group">
   <label class="col-sm-2 control-label">{{"极简认证"|$.T}}</label>
   <div class="col-sm-10">
      <div class="fieldset bg-fc">
      <div class="form-group">
         <label class="col-sm-2 control-label">{{"用户名"|$.T}}</label>
         <div class="col-sm-4">
            <input type="text" name="login_simple_user" class="form-control" value="{{$.Form `login_simple_user`}}">
         </div>
         <label class="col-sm-2 control-label">{{"密码"|$.T}}</label>
         <div class="col-sm-4">
            <span class="input-group">
            <input type="password" name="login_simple_password" class="form-control" value="{{$.Form `login_simple_password`}}">
            <span class="input-group-btn">
            <a href="javascript:;" data-target="[name=login_simple_password]" class="btn btn-default show-password">
              <i class="fa fa-eye"></i>
              {{`查看`|$.T}}
            </a>
            </span>
            </span>
         </div>
      </div>
      </div>
    </div>
</div>
<div class="form-group">
   <label class="col-sm-2 control-label">{{"osiam认证"|$.T}}</label>
   <div class="col-sm-10">
      <div class="radio radio-success radio-inline">
        <input type="radio" id="login_osiam_1" name="login_osiam" value="1"{{if eq ($.Form `login_osiam`) `1`}} checked{{end}}> <label for="login_osiam_1">{{`启用`|$.T}}</label>
      </div><!-- radio -->
      <div class="radio radio-danger radio-inline">
        <input type="radio" id="login_osiam_0" name="login_osiam" value="0"{{if ne ($.Form `login_osiam`) `1`}} checked{{end}}> <label for="login_osiam_0">{{`禁用`|$.T}}</label>
      </div><!-- radio -->
      <div class="fieldset bg-fc" id="login-osiam-setting">
         <div class="form-group">
            <label class="col-sm-2 control-label">{{"Client ID"|$.T}}</label>
            <div class="col-sm-10">
               <input type="text" name="login_osiam_client_id" class="form-control" value="{{$.Form `login_osiam_client_id`}}">
            </div>
         </div>
         <div class="form-group">
            <label class="col-sm-2 control-label">{{"Client Secret"|$.T}}</label>
            <div class="col-sm-10">
               <span class="input-group">
               <input type="password" name="login_osiam_client_secret" class="form-control" value="{{$.Form `login_osiam_client_secret`}}">
               <span class="input-group-btn">
               <a href="javascript:;" data-target="[name=login_osiam_client_secret]" class="btn btn-default show-password">
                 <i class="fa fa-eye"></i>
                 {{`查看`|$.T}}
               </a>
               </span>
               </span>
            </div>
         </div>
         <div class="form-group">
            <label class="col-sm-2 control-label">{{"服务网址"|$.T}}</label>
            <div class="col-sm-10">
               <input type="url" name="login_osiam_endpoint" class="form-control" value="{{$.Form `login_osiam_endpoint`}}">
            </div>
         </div>
      </div><!-- fieldset -->
    </div>
</div>
<div class="form-group">
   <label class="col-sm-2 control-label">{{"httpupstream认证"|$.T}}</label>
   <div class="col-sm-10">
      <div class="radio radio-success radio-inline">
        <input type="radio" id="login_httpupstream_1" name="login_httpupstream" value="1"{{if eq ($.Form `login_httpupstream`) `1`}} checked{{end}}> <label for="login_httpupstream_1">{{`启用`|$.T}}</label>
      </div><!-- radio -->
      <div class="radio radio-danger radio-inline">
        <input type="radio" id="login_httpupstream_0" name="login_httpupstream" value="0"{{if ne ($.Form `login_httpupstream`) `1`}} checked{{end}}> <label for="login_httpupstream_0">{{`禁用`|$.T}}</label>
      </div><!-- radio -->
      <div class="fieldset bg-fc" id="login-httpupstream-setting">
         <div class="form-group">
            <label class="col-sm-2 control-label">{{"upstream"|$.T}}</label>
            <div class="col-sm-10">
               <input type="url" name="login_httpupstream_upstream" class="form-control" value="{{$.Form `login_httpupstream_upstream`}}">
            </div>
         </div>
         <div class="form-group">
            <label class="col-sm-2 control-label">{{"超时限制"|$.T}}</label>
            <div class="col-sm-10">
               <input type="text" name="login_httpupstream_timeout" class="form-control" value="{{$.Form `login_httpupstream_timeout`}}" pattern="^[0-9]+(h|m|s)([0-9]+(h|m|s))*$">
               <div class="help-block">{{`格式为数字和单位字母的组合，有效的单位有："s", "m", "h" 分别表示 "秒", "分钟", "小时"`|$.T}}</div>
            </div>
         </div>
         <div class="form-group">
            <label class="col-sm-2 control-label">&nbsp;</label>
            <div class="col-sm-10">
               <div class="checkbox checkbox-primary checkbox-inline">
                 <input type="checkbox" id="login_httpupstream_skipverify" name="login_httpupstream_skipverify" value="1"{{if eq ($.Form `login_httpupstream_skipverify`) `1`}} checked{{end}}> <label for="login_httpupstream_skipverify">{{`跳过TLS验证`|$.T}}</label>
               </div>
            </div>
         </div>
      </div><!-- fieldset -->
    </div>
</div>