{{Strip}}
<div class="form-group">
  <label class="col-sm-2 control-label">{{"手动设置"|$.T}}</label>
  <div class="col-sm-10">
    <span class="input-group">
      <span class="input-group-addon">{{"证书"|$.T}}</span>
      <input type="text" class="form-control" name="tls_cert" value="{{$.Form `tls_cert`}}"
        placeholder="{{`例如`|$.T}}: /2018.pem" data-toggle="tooltip" title="{{`请指定证书文件`|$.T}}, {{`例如`|$.T}}: /2018.pem">
      <span class="input-group-addon">{{"私钥"|$.T}}</span>
      <input type="text" class="form-control" name="tls_key" value="{{$.Form `tls_key`}}"
        placeholder="{{`例如`|$.T}}: /2018.key" data-toggle="tooltip" title="{{`请指定私钥文件`|$.T}}, {{`例如`|$.T}}: /2018.key">
    </span>
    <div class="help-block">{{"如果指定了证书，系统将不会自动为你更新证书，需要您自己更新"|$.T}}</div>
  </div>
</div>
<div class="engine-hide-nginx form-group">
  <label class="col-sm-2 control-label">{{"自动设置"|$.T}}</label>
  <div class="col-sm-10">
    <span class="input-group">
      <span class="input-group-addon">{{"E-mail"|$.T}}</span>
      <input type="text" class="form-control" name="tls_email" value="{{$.Form `tls_email`}}"
        placeholder="{{`例如: `|$.T}}boy@admpub.com">
      <span class="input-group-addon">{{"签发机构"|$.T}}</span>
      {{- $caName := $.Form `tls_ca_name` -}}
      <select class="form-control" name="tls_ca_name" id="tls_ca_name">
        <option value="">{{"默认"|$.T}}</option>
        {{- range $k,$v:=$.Stored.caList -}}
        <option value="{{$v.K}}"{{if eq $caName $v.K}} selected{{end}}{{if $v.H.NeedEAB}} data-need-eab="1"{{end}}{{if $v.H.NeedToken}} data-need-token="1"{{end}}>{{$v.V|$.T}}</option>
        {{- end -}}
      </select>
    </span>
    <div class="help-block">{{"用于自动化管理HTTPS证书"|$.T}}
      <div>
        {{"想要自动启用HTTPS功能，必须满足以下条件："|$.T}}
        <ol class="no-margin-bottom">
          <li>{{"“监听地址”中的主机名不能为空、localhost、IP地址；主机名中的通配符“*”的数量不能超过1个，且必须是最左边的标签"|$.T}}</li>
          <li>{{"不得采用80端口和http协议"|$.T}}</li>
          <li>{{"“手动设置”项中的“证书”和“私钥”输入框必须留空"|$.T}}</li>
          <li>{{"“E-mail”输入框不能为空"|$.T}}</li>
        </ol>
        {{"一旦自动启用HTTPS，Caddy将会自动绑定80和443端口，并且自动将80端口的http访问重定向到https"|$.T}}
      </div>
    </div>

  </div>
</div>

{{- if $caName -}}
  {{- range $k,$v:=$.Stored.caList -}}
    {{- if eq $caName $v.K -}}
    {{- if or $v.H.NeedEAB $v.H.NeedToken -}}
<div id="tls-ca-inputs">
    {{- if $v.H.NeedEAB -}}{{Include "caddy/addon/form/tls_ca_eab" $}}{{else}}{{Include "caddy/addon/form/tls_ca_token" $}}{{- end -}}
</div>
    {{- end -}}
    {{break}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<div class="engine-hide-nginx form-group">
  <label class="col-sm-2 control-label">{{"DNS认证"|$.T}}</label>
  <div class="col-sm-10">
    <select class="form-control" name="tls_acme_dns_provider" id="tls_acme_dns_provider">
      <option value="">{{"关闭"|$.T}}</option>
      {{- $provider := $.Form `tls_acme_dns_provider` -}}
      {{- $dnsProviders := call $.Func.ListDNSProviders -}}
      {{- range $k,$v:=$dnsProviders -}}
      <option value="{{$v.Provider}}"{{if eq $provider $v.Provider}} selected{{end}} data-inputs="{{$v.Inputs.RenderHTMLs `tls_acme_dns_`|JSONEncode}}">{{$v.Title}}</option>
      {{- end -}}
    </select>
    <div class="help-block">{{"用于自动化管理HTTPS证书时的DNS认证。关闭时采用HTTP-01认证"|$.T}}</div>
  </div>
</div>
{{- if $provider -}}
  {{- range $k,$v:=$dnsProviders -}}
    {{- if eq $provider $v.Provider -}}
<div id="tls-dns-provider-inputs">
      {{- range $hk,$hv:=$v.Inputs.RenderHTMLs `tls_acme_dns_` -}}
<div class="form-group">
  <label class="col-sm-2 control-label">{{$hv.Label|$.T}}</label>
  <div class="col-sm-10">
    {{$hv.Input|ToHTML}}{{$hv.Help|ToHTML}}
  </div>
</div>
      {{- end -}}
</div>
    {{break}}
    {{- end -}}
  {{- end -}}
{{- end -}}
<script type="text/html" id="tpl-tls-dns-provider-input">
{{TemplateTag "each inputs input index"}}
<div class="form-group">
  <label class="col-sm-2 control-label">{{TemplateTag "input.Label"}}</label>
  <div class="col-sm-10">
    {{TemplateTag "@ input.Input"}}{{TemplateTag "@ input.Help"}}
  </div>
</div>
{{TemplateTag "/each"}}
</script><script type="text/html" id="tpl-tls-ca-eab">
{{Include "caddy/addon/form/tls_ca_eab" $}}
</script><script type="text/html" id="tpl-tls-ca-token">
{{Include "caddy/addon/form/tls_ca_token" $}}
</script>
{{/Strip}}