{{$v := $.Get `values`}}
{{$id := $.Get `id`}}
{{if $v.IsEnabled "cors"}}
{{$vv := $.Get `_vv`}}
{{$kk := $.Get `_kk`}}
        set $allow "${allow_cors_host_{{$id}}_{{$kk}}}${allow_cors_origin_{{$id}}_{{$kk}}}";
        if ( $allow =  "11" ) {
            add_header Access-Control-Allow-Origin $http_origin always;
        }
        {{$origin := $vv.Get `origin`}}
        {{if $origin}}
        if ( $allow =  "10" ) {
            add_header Access-Control-Allow-Origin {{Join ($v.SplitBySpace $origin) `,`}} always;
        }
        {{end}}
    
        if ( $allow_cors_host_{{$id}}_{{$kk}} = 1 ) {
            {{if $vv.Get `methods`}}
            add_header Access-Control-Allow-Methods {{$vv.Get `methods`}} always;
            {{end}}
            
            add_header Access-Control-Allow-Credentials {{$vv.GetAttrVal "allow_credentials" "false"}} always;
            
            {{if $vv.Get `allowed_headers`}}
            add_header Access-Control-Allow-Headers {{$vv.Get `allowed_headers`}} always;
            {{end}}
            
            {{if $vv.Get `exposed_headers`}}
            add_header Access-Control-Expose-Headers {{$vv.Get `exposed_headers`}} always;
            {{end}}
            
            {{if $vv.Get `max_age`}}
            add_header Access-Control-Max-Age {{$vv.Get `max_age`}} always;
            {{end}}
        }
    
        if ( $request_method = OPTIONS ) {
            return 204;
        }
{{end}}

