{{$v := $.Get `values`}}
{{$prefix := $.Get `ngingPrefix`}}
{{$id := $.Get `id`}}

    {{if $v.IsEnabled "fastcgi"}}
    {{range $kk,$vv := $v.GetExtraList `fastcgi`}}
        {{$fastCgiPath := $vv.Get "path"}}
        {{if $fastCgiPath}}
    location ~ ^{{$fastCgiPath|$v.RegexpQuote}}.*{{$vv.Get "ext"|$v.RegexpQuote}}$ {
        {{else}}
    location ~ {{$vv.Get "ext"|$v.RegexpQuote}}$ {
        {{end}}

        {{$except := $vv.Get "except"}}
        {{if $except}}
        location ~ "^({{Join ($v.SplitBySpaceWithRegexpQuote $except) `|`|$v.AddSlashes|ToHTML}})" {
            return 404;
        }
        {{end}}

        {{if $vv.Get "upstream"}}
        fastcgi_pass nging_fastcgi_{{$id}}_{{$kk}};
        {{else}}
        fastcgi_pass {{$vv.Get "endpoint"}};
        {{end}}

        fastcgi_index {{$vv.Get "index"}};
        {{$root := $v.Get "root"}}
        {{$fastCgiRoot := $vv.Get "root"}}
        {{if $fastCgiRoot}}
        fastcgi_param SCRIPT_FILENAME {{$fastCgiRoot}}/$fastcgi_script_name;
        {{else if $root}}
        fastcgi_param SCRIPT_FILENAME {{$root}}/$fastcgi_script_name;
        {{else}}
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        {{end}}

        {{$fastCgiSplit := $vv.Get "split"}}
        #fastcgi_split_path_info ^((?U).+{{$fastCgiSplit|$v.RegexpQuote}})(/?.+)$; {{/* # 非贪婪模式 */}}
        fastcgi_split_path_info ^(.+{{$fastCgiSplit|$v.RegexpQuote}})(/.*)$; {{/* # 贪婪模式 */}}
        fastcgi_param PATH_INFO $fastcgi_path_info;

        {{$vv.IteratorKV "env" "        fastcgi_param "}}

        {{if $vv.Get "connect_timeout"}}
        fastcgi_connect_timeout {{$vv.Get "connect_timeout"}};
        {{end}}

        {{if $vv.Get "read_timeout"}}
        fastcgi_read_timeout {{$vv.Get "read_timeout"}};
        {{end}}

        {{if $vv.Get "send_timeout"}}
        fastcgi_send_timeout {{$vv.Get "send_timeout"}};
        {{end}}
        
        include fastcgi_params;
    }
    {{end}}
    {{end}}
    