{{$v := $.Get `values`}}
{{$id := $.Get `id`}}
{{if $v.IsEnabled "proxy"}}
{{$vv := $.Get `_vv`}}
{{$kk := $.Get `_kk`}}
{{$except := $vv.Get "except"}}
        {{if $except}}
        location ~ "^({{Join ($v.SplitBySpaceWithRegexpQuote $except) `|`|$v.AddSlashes|ToHTML}})" {
            return 404;
        }
        {{end}}

        {{if $vv.Get "upstream"}}
        {{$upstreamInfo := $.Get (printf `proxyServerGroup%d` $kk)}}
        {{$upstreamInfo.Rewrite|ToHTML}}
        proxy_pass {{$upstreamInfo.String}};
        {{else}}
        {{$upstreamInfo := $vv.ServerGroup "to" ""}}
        {{$upstreamInfo.Rewrite|ToHTML}}
        proxy_pass {{$upstreamInfo.String}};
        {{end}}

        {{$keepalive := $vv.Get "keepalive"}}
        {{if and $keepalive (ne $keepalive `0`)}}
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        {{end}}
        
        {{if $vv.Get "fail_timeout"}}
        proxy_connect_timeout {{$vv.Get "fail_timeout"}};
        {{end}}
        
        {{if $vv.Get "max_fails"}}
        proxy_next_upstream_tries {{$vv.Get "max_fails"}};
        {{end}}
        
        {{if $vv.Get "try_duration"}}
        proxy_next_upstream_timeout {{$vv.Get "try_duration"}};
        {{end}}
        
        {{$vv.IteratorHeaderKV "header_upstream" "        proxy_set_header    " "" true}}
        {{$vv.IteratorNginxProxyHeaderKV}}
        
        #proxy_socket_keepalive on;
        
        {{range $vv.GetValues `preset`}}
            {{if eq . "insecure_skip_verify"}}
        proxy_ssl_verify off;
            {{else if eq . "websocket"}}
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
            {{else if eq . "transparent"}}
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr; 
        #proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
            {{end}}
        {{end}}
        
        #proxy_limit_rate 0;
{{end}}