{{$v := $.Get `values`}}
{{$v.Get "domain"}} {
    {{$root := $v.Get "root"}}
    {{if $root}}
    root "{{$root|$v.AddSlashes|ToHTML}}"
    {{end}}

    {{if $v.IsEnabled "basicauth"}}
    basicauth "{{$v.GetAttrVal "basicauth" "username"|$v.AddSlashes|ToHTML}}" "{{$v.GetAttrVal "basicauth" "password"|$v.AddSlashes|ToHTML}}" {
        realm "{{$v.GetAttrVal "basicauth" "realm" "Restricted"|$v.AddSlashes|ToHTML}}"
        {{$v.Iterator "basicauth" "resources" "        "}}
    }
    {{end}}

    {{if $v.IsEnabled "ratelimit"}}
    ratelimit {{$v.GetAttrVal "ratelimit" "methods"}} {{$v.GetAttrVal "ratelimit" "rate"}} {{$v.GetAttrVal "ratelimit" "burst"}} {{$v.GetAttrVal "ratelimit" "unit"}} {
        {{$v.AddonAttr "ratelimit" "whitelist"}}
        {{$v.AddonAttr "ratelimit" "limit_by_header"}}
        {{$v.AddonAttr "ratelimit" "status"}}
        {{$v.Iterator "ratelimit" "resources" "        "}}
    }
    {{end}}

    {{if $v.IsEnabled "cors"}}
    {{range $kk,$vv := $v.GetExtraList `cors`}}
    cors {{$vv.GetAttrVal "path" "/"}} {{$vv.GetAttrVal "domains"}} {
        {{$vv.AddonAttr "origin"}}
        {{$vv.AddonAttr "origin_regexp"}}
        {{$vv.AddonAttr "methods"}}
        {{$vv.AddonAttr "allow_credentials" "false"}}
        {{$vv.AddonAttr "max_age"}}
        {{$vv.AddonAttr "allowed_headers"}}
        {{$vv.AddonAttr "exposed_headers"}}
    }
    {{end}}
    {{end}}

    {{if $v.IsEnabled "jwt"}}
    jwt {
        {{$v.AddonAttr "jwt" "path" "/"}}
        {{$v.AddonAttr "jwt" "redirect"}}
        {{$v.IteratorKV "jwt" "allow" "        allow "}}
        {{$v.IteratorKV "jwt" "deny" "        deny "}}
        {{$v.AddonAttr "jwt" "except"}}
        {{if eq ($v.Get "jwt_token_source_header") "header"}}
        token_source    header
        {{end}}
        {{if eq ($v.Get "jwt_token_source_cookie") "cookie"}}
        token_source    cookie  {{$v.Get "jwt_token_source_cookie_name"}}
        {{end}}
        {{if eq ($v.Get "jwt_token_source_query_param") "query_param"}}
        token_source    query_param  {{$v.Get "jwt_token_source_query_param_name"}}
        {{end}}
        {{$strip_header := $v.Get "jwt_strip_header"}}
        {{if $strip_header}}
        strip_header
        {{end}}
        {{$passthrough := $v.Get "jwt_passthrough"}}
        {{if $passthrough}}
        passthrough
        {{end}}
        {{$allowroot := $v.Get "jwt_allowroot"}}
        {{if $allowroot}}
        allowroot
        {{end}}
        {{$v.Iterator "jwt" "publickey" "        publickey "}}
        {{$v.AddonAttr "jwt" "secret"}}
    }
    {{end}}
    
    {{if $v.IsEnabled "login"}}
    login {
        {{$v.AddonAttr "login" "success_url" "/"}}
        {{$v.AddonAttr "login" "login_path" "/login"}}
        {{$v.AddonAttr "login" "logout_url" ""}}
        {{$v.AddonAttr "login" "template" ""}}
        {{$v.AddonAttr "login" "jwt_secret" ""}}
        {{$v.AddonAttr "login" "jwt_secret_file" ""}}
        {{$v.AddonAttr "login" "jwt_algo" "HS512"}}
        {{$v.AddonAttr "login" "jwt_refreshes" "0"}}
        {{$v.AddonAttr "login" "jwt_expiry" "24h"}}
        {{$v.AddonAttr "login" "redirect" "1"}}
        {{$v.AddonAttr "login" "redirect_query_parameter" ""}}
        {{$v.AddonAttr "login" "redirect_host_file" ""}}
        {{$v.AddonAttr "login" "redirect_check_referer" ""}}
        {{$v.AddonAttr "login" "cookie_name" "jwt_token"}}
        {{$v.AddonAttr "login" "cookie_secure" "0"}}
        {{$v.AddonAttr "login" "cookie_expiry" "0s"}}
        {{$oAuthType := $v.Get "login_oauth_type"}}
        {{if $oAuthType}}
        {{$oAuthType}} client_id={{$v.Get "login_oauth_client_id"}},client_secret={{$v.Get "login_oauth_client_secret"}},host_url={{$v.Get "login_oauth_host_url"}}
        {{end}}
        {{$htpasswdFile := $v.Get "login_htpasswd_file"}}
        {{if $htpasswdFile}}htpasswd    file={{$htpasswdFile}}{{end}}
        {{if $v.IsEnabled "login_httpupstream"}}
        httpupstream    upstream={{$v.Get "login_httpupstream_upstream"}},skipverify={{$v.Get "login_httpupstream_skipverify" | Default "0"}},timeout={{$v.Get "login_httpupstream_timeout" | Default "0s"}}
        {{end}}
        {{if $v.IsEnabled "login_osiam"}}
        osiam    endpoint={{$v.Get "login_osiam_endpoint"}},client_id={{$v.Get "login_osiam_client_id"}},client_secret={{$v.Get "login_osiam_client_secret"}}
        {{end}}
        {{$user := $v.Get "login_simple_user"}}
        {{$pwd := $v.Get "login_simple_password"}}
        {{if and $user $pwd}}
        simple    {{$user}}={{$pwd}}
        {{end}}
        {{$userEndpointToken := $v.Get "login_userclaimsapi_endpoint"}}
        {{if and ($v.IsEnabled "login_userclaimsapi") $userEndpointToken}}
        user_endpoint    {{$userEndpointToken}}
        {{$token := $v.Get "login_userclaimsapi_token"}}
        {{if $token}}
        user_endpoint_token    {{$token}}
        {{end}}
        user_endpoint_timeout    {{$v.Get "login_userclaimsapi_timeout"|Default "5s"}}
        {{end}}
    }
    {{end}}
    
    {{if $v.IsEnabled "locale"}}
    locale {{$v.GetAttrVal "locale" "available" "en zh-CN"}} {
        {{$v.AddonAttr "locale" "detect" "header"}}
        {{$v.AddonAttr "locale" "cookie" "locale"}}
        {{$v.AddonAttr "locale" "available" "en zh-CN"}}
        {{$v.AddonAttr "locale" "path" "/"}}
    }
    {{end}}


    {{if $v.IsEnabled "nobots"}}
    nobots "{{$v.GetAttrVal "nobots" "bomb" "bomb.gz"|$v.AddSlashes|ToHTML}}" {
        {{$v.Iterator "nobots" "userAgent" "        " true}}
        {{$v.Iterator "nobots" "userAgentRegexp" "        regexp " true true}}
        {{$v.Iterator "nobots" "publicPathRegexp" "        public " true true}}
    }
    {{end}}

    {{if $v.IsEnabled "prometheus"}}
    prometheus {
        {{$use_caddy_addr := $.Get "prometheus" "use_caddy_addr"}}
        {{if $use_caddy_addr}}
        use_caddy_addr
        {{else}}
        {{$v.AddonAttr "prometheus" "address" "localhost:9180"}}
        {{end}}
        {{$v.AddonAttr "prometheus" "path" "/metrics"}}
        {{$v.AddonAttr "prometheus" "hostname"}}
        {{$v.IteratorKV "header" "label" "        label    " true}}
    }
    {{end}}

    {{if $v.IsEnabled "log"}}
    log / "{{$v.Get "log_file"|$v.AddSlashes|ToHTML}}" "{{$v.Get "log_format"|Default "{combined} {latency}"|$v.AddSlashes|ToHTML}}" {
        {{$v.AddonAttr "log" "rotate_size"}}
        {{$v.AddonAttr "log" "rotate_age"}}
        {{$v.AddonAttr "log" "rotate_keep"}}
        {{if $v.IsEnabled "log_rotate_compress"}}rotate_compress{{end}}
        {{$ipv4mask := $v.Get "log_ipmask_v4"}}
        {{$ipv6mask := $v.Get "log_ipmask_v6"}}
        {{if or $ipv4mask $ipv6mask}}
        ipmask {{$ipv4mask}} {{$ipv6mask}}
        {{end}}
        {{$v.AddonAttr "log" "except"}}
    }
    {{end}}

    {{if $v.Get "index"}}
    index {{$v.Get "index"}}
    {{end}}

    {{if and (ne ($v.Get "header") `0`) ($v.Get "header_path")}}
    header {{$v.Get "header_path"}} {
        {{$v.IteratorKV "header" "" "        " true}}
    }
    {{end}}

    {{if $v.IsEnabled "tls"}}
        {{if and ($v.Get "tls_cert") ($v.Get "tls_key")}}
    tls "{{$v.Get "tls_cert"|$v.AddSlashes|ToHTML}}" "{{$v.Get "tls_key"|$v.AddSlashes|ToHTML}}"
        {{else if $v.Get "tls_email"|ToHTML}}
    tls {{$v.Get "tls_email"|ToHTML}}
        {{end}}
    {{else}}
    tls off
    {{end}}

    {{if $v.IsEnabled "gzip"}}
    gzip {
        {{$v.AddonAttr "gzip" "ext"}}
        {{$v.AddonAttr "gzip" "not"}}
        {{$v.AddonAttr "gzip" "level"}}
        {{if $v.Get "gzip_min_bytes"}}
        min_length {{$v.Get "gzip_min_bytes"}}
        {{end}}
    }
    {{end}}

    {{if $v.IsEnabled "fastcgi"}}
    {{range $kk,$vv := $v.GetExtraList `fastcgi`}}
    fastcgi {{$vv.Get "path"}} {{$vv.Get "endpoint"}} {{$vv.Get "preset"}} {
        {{$vv.AddonAttr "ext"}}
        {{$vv.AddonAttr "split"}}
        {{$vv.AddonAttr "index"}}
        {{$vv.IteratorKV "env" "        env    "}}
        {{$vv.AddonAttr "root"}}
        {{$vv.AddonAttr "except"}}
        {{$vv.AddonAttr "upstream"}}
        {{$vv.AddonAttr "connect_timeout"}}
        {{$vv.AddonAttr "read_timeout"}}
        {{$vv.AddonAttr "send_timeout"}}
    }
    {{end}}
    {{end}}
    
    {{if $v.IsEnabled "proxy"}}
    {{range $kk,$vv := $v.GetExtraList `proxy`}}
    proxy {{$vv.Get "from"}} {{$vv.Get "to"}} {
        {{$vv.AddonAttr "policy"}}
        {{$vv.AddonAttr "fail_timeout"}}
        {{$vv.AddonAttr "max_fails"}}
        {{$vv.AddonAttr "try_duration"}}
        {{$vv.AddonAttr "try_interval"}}
        {{$vv.AddonAttr "health_check"}}
        {{$vv.AddonAttr "health_check_interval"}}
        {{$vv.AddonAttr "health_check_timeout"}}
        {{$vv.IteratorKV "header_upstream" "        header_upstream    " true}}
        {{$vv.IteratorKV "header_downstream" "        header_downstream    " true}}
        {{$vv.AddonAttr "keepalive"}}
        {{$vv.AddonAttr "without"}}
        {{$vv.AddonAttr "except"}}
        {{$vv.AddonAttr "upstream"}}
        {{$vv.Iterator "preset" "        "}}
    }
    {{end}}
    {{end}}

    {{if $v.IsEnabled "browse"}}
    {{range $kk,$vv := $v.GetExtraList `browse`}}
    browse {{$vv.Get "path"}} {{$vv.Get "tmpl"}}
    {{end}}
    {{end}}

    {{if $v.IsEnabled "expires"}}
    expires {
    {{$v.IteratorKV "expires" "match" "        match    "}}
    {{$v.IteratorKV "expires" "match_header" "        match_header    "}}
    }
    {{end}}

    {{if $v.IsEnabled "ipfilter"}}
    ipfilter {{$v.Get "ipfilter_paths"}} {
        {{$v.AddonAttr "ipfilter" "rule"}}
        {{$v.AddonAttr "ipfilter" "ip"}}
        {{$v.AddonAttr "ipfilter" "country"}}
        {{$v.AddonAttr "ipfilter" "database"}}
        {{$v.AddonAttr "ipfilter" "blockpage"}}
        {{$v.AddonAttr "ipfilter" "strict"}}
    }
    {{end}}

    {{if $v.IsEnabled "filter"}}
    {{range $index, $searchPattern := $v.GetSlice "filter_search_pattern"}}
    {{$filterPath := ($v.GetSlice "filter_path").GetByIndex $index}}
    {{$filterContentType := ($v.GetSlice "filter_content_type").GetByIndex $index}}
    {{if or $filterPath $filterContentType}}
    filter rule {
        {{if $filterPath}}
        path                          "{{$filterPath|$v.AddSlashes|ToHTML}}"
        {{end}}
        {{if $filterContentType}}
        content_type                  "{{$filterContentType|$v.AddSlashes|ToHTML}}"
        {{end}}
        {{if and $filterPath $filterContentType}}
        path_content_type_combination "{{($v.GetSlice "filter_path_content_type_combination").GetByIndex $index|ToHTML}}"
        {{end}}
        search_pattern                "{{$searchPattern|$v.AddSlashes|ToHTML}}"
        replacement                   "{{($v.GetSlice "filter_replacement").GetByIndex $index|$v.AddSlashes|ToHTML}}"
    }
    {{end}}
    {{end}}
    {{$filterMaxBufferSize := Int ($v.Get "filter_max_buffer_size")}}
    {{if gt $filterMaxBufferSize 0}}
    filter max_buffer_size {{$filterMaxBufferSize}}
    {{end}}
    {{end}}

    {{$v.Get "rewrite_rule"|ToHTML}}

    {{if $v.IsEnabled "s3browser"}}
    {{$account := $v.Get "s3browser_account"}}
    {{$cdnURL := $v.Get "s3browser_cdnurl"}}
    {{$secure := $v.IsEnabled "s3browser_secure"}}
	s3browser {
        {{if eq $account `custom` ``}}
		{{$v.AddonAttr "s3browser" "key"}}
		{{$v.AddonAttr "s3browser" "secret"|ToHTML}}
		{{$v.AddonAttr "s3browser" "bucket"}}
		{{$v.AddonAttr "s3browser" "region"}}
		{{$v.AddonAttr "s3browser" "endpoint"}}
        {{$v.AddonAttr "s3browser" "cdnurl"}}
		secure {{if $secure}}true{{else}}false{{end}}
        {{else}}
        account {{$account}}
        {{end}}
        {{$v.AddonAttr "s3browser" "prefix"}}
		{{$v.AddonAttr "s3browser" "refresh"}}
		debug {{if $v.IsEnabled "s3browser_debug"}}true{{else}}false{{end}}
    }

    {{if eq $account `custom` ``}}
    {{$proxypath := $v.Get "s3browser_proxypath"}}
    {{if $proxypath}}
	proxy {{$proxypath}} {{if $cdnURL}}{{$cdnURL}}{{else}}http{{if $secure}}s{{end}}://{{$v.Get "s3browser_bucket"}}.{{$v.Get "s3browser_endpoint"}}{{end}} {
		header_upstream {{if $cdnURL}}{{$v.ParseHost $cdnURL}}{{else}}{{$v.Get "s3browser_bucket"}}.{{$v.Get "s3browser_endpoint"}}{{end}}
    }
    {{end}}
    {{end}}
    
    {{end}}


    {{if $v.IsEnabled "webdav"}}
    {{$webdavRoot := $v.Get "webdav_root"|$v.AddSlashes|ToHTML}}
    {{$webdavURL := $v.Get "webdav_url"|$v.AddSlashes|ToHTML}}
    {{$webdavUsers := $v.GetWebdavUser}}
    {{range $key,$val := $webdavUsers}}
    basicauth "{{$webdavURL}}" "{{$val.User|$v.AddSlashes|ToHTML}}" "{{$val.Password|$v.AddSlashes|ToHTML}}"
    {{end}}
    webdav "{{$webdavURL}}" {
        scope       "{{$webdavRoot}}"
        modify      {{if $v.IsEnabled "webdav_modify"}}true{{else}}false{{end}}
        {{range $k,$perm := $v.GetWebdavGlobal}}
        {{$perm.String|ToHTML}}
        {{end}}

        {{range $key,$val := $webdavUsers}}
        {{$val.User}}:
        {{if $val.Root}}
        scope       "{{$val.Root|$v.AddSlashes|ToHTML}}"
        {{end}}
        {{if $val.Writeable.Valid}}
        modify       {{$val.Writeable.Bool}}
        {{end}}
        {{range $k,$perm := $val.Perms}}
        {{$perm.String|ToHTML}}
        {{end}}
        {{end}}
    }
    {{end}}
}
