{{$v := $.Get `values`}}
<!-- {
	{{if $v.IsEnabled "ratelimit"}}order rate_limit after basic_auth{{end}}
	{{if $v.IsEnabled "filter"}}order filter after encode{{end}}
} -->
{{Join $v.GetDomainList `, `}} {
    {{/*Include "caddy/makeconfig/caddy2/ratelimit" $*/}}
    {{/*Include "caddy/makeconfig/caddy2/filter" $*/}}

    {{$root := $v.Get "root"}}
    {{if $root}}
    root * "{{$root|$v.AddSlashes|ToHTML}}"
    {{end}}

    {{if $v.IsEnabled "basicauth"}}
    {{$resources := $v.GetValueList "basicauth" "resources"}}
    {{if gt (len $resources) 0}}
    @basic_auth_matcher {
        path {{Join ($v.SliceAddPathWildcardSuffix $resources) ` `}}
    }
    basic_auth @basic_auth_matcher bcrypt "{{$v.GetAttrVal "basicauth" "realm" "Restricted"|$v.AddSlashes|ToHTML}}" {
        "{{$v.GetAttrVal "basicauth" "username"|$v.AddSlashes|ToHTML}}" "{{$v.GetAttrVal "basicauth" "password"|$v.BCrypt|Base64Encode|ToHTML}}"
    }
    {{end}}
    {{end}}


    {{if $v.IsEnabled "cors"}}
    {{range $kk,$vv := $v.GetExtraList `cors`}}
    @cors_matcher_{{$kk}} {
        path {{$vv.GetAttrVal "path" "/"}}
        {{$vv.AddonAttrFromKey "domains" "host"}}
    }

    {{$originRegexp := $vv.Get `regexp`}}
    {{if $originRegexp}}
    @cors_origin_matcher_{{$kk}} {
        header_regexp Origin "{{$originRegexp|$v.AddSlashes|ToHTML}}" 
    }
    vars @cors_origin_matcher_{{$kk}} r_origin_{{$kk}} "{request>headers>Origin}"
    {{$origin := $vv.Get `origin`}}
    vars r_origin_{{$kk}} "{{Join ($v.SplitBySpace $origin) `,`}}"
    {{end}}

    header @cors_matcher_{{$kk}} {
        Access-Control-Allow-Origin "{vars.r_origin_{{$kk}}}"
        {{Include "caddy/makeconfig/caddy2/cors" $vv}}
    }
    @cors_preflight_{{$kk}} {
        method OPTIONS
    }
    header @cors_preflight_{{$kk}} {
        Access-Control-Allow-Origin "{vars.r_origin_{{$kk}}}"
        {{Include "caddy/makeconfig/caddy2/cors" $vv}}
    }
    respond @cors_preflight_{{$kk}} 204
    {{end}}
    {{end}}

    {{if $v.IsEnabled "log"}}
    log {
        output file "{{$v.Get "log_file"|$v.AddSlashes|ToHTML}}" {
            roll_size {{$v.Get "log_rotate_size"|Default `100`}}mb
            roll_keep {{$v.Get "log_rotate_keep"|Default `10`}}
            roll_keep_for {{$v.Get "log_rotate_age"|Default `90`}}d
            {{if not ($v.IsEnabled "log_rotate_compress")}}roll_uncompressed{{end}}
            roll_local_time
        }
        {{$ipv4mask := $v.Get "log_ipmask_v4"}}
        {{$ipv6mask := $v.Get "log_ipmask_v6"}}
        {{if or $ipv4mask $ipv6mask}}
        format filter {
            wrap console
            fields {
                {{/* # request>remote_ip / request>client_ip / request>headers>X-Forwarded-For */}}
                request>remote_ip ip_mask {
                    {{if $ipv4mask}}
                    ipv4 {{$ipv4mask}}
                    {{end}}
                    {{if $ipv6mask}}
                    ipv6 {{$ipv6mask}}
                    {{end}}
                }
            }
        }
        {{end}}
    }
    {{$except := $v.Get "log_except"}}
    {{if $except}}
    @skip_log_matcher path_regexp {{$except}}
    log_skip @skip_log_matcher
    {{end}}
    {{end}}

    {{if and (ne ($v.Get "header") `0`) ($v.Get "header_path")}}
    header {{$v.Get "header_path"|$v.AddPathWildcardSuffix}} {
        {{$v.IteratorKV "header" "" "        " true}}
    }
    {{end}}

    {{if $v.IsEnabled "tls"}}
    {{Include "caddy/makeconfig/caddy2/tls" $}}
    {{end}}

    {{if $v.IsEnabled "gzip"}}
    {{$exts := $v.SplitBySpaceWithExtWildcardPrefix ($v.Get "gzip_ext")}}
    {{$notPaths := $v.SplitBySpaceWithPathWildcardSuffix ($v.Get "gzip_not")}}
    {{$notUARegexp := $v.Get "gzip_not_ua_regexp"}}
    @gzip_matcher {
        path {{Join $exts ` `}}
        {{if $notPaths}}
        not path {{Join $notPaths ` `}}
        {{end}}
        {{if $notUARegexp}}
        not header_regexp User-Agent {{$notUARegexp|ToHTML}}
        {{end}}
        {{/* #expression {err.status_code} == 404 */}}
    }
    encode @gzip_matcher gzip {
        gzip {{$v.Get "gzip_level"|Default "6"}}
        {{if $v.Get "gzip_min_bytes"}}
        minimum_length {{$v.Get "gzip_min_bytes"}}
        {{end}}
        {{$mimes := $v.SplitBySpaceWithPrefixAndSuffix ($v.Get `gzip_mime`) `` `*`}}
        {{if $mimes}}
        match {
            {{range $mimes}}
            header Content-Type {{.}}
            {{end}}
        }
        {{end}}
    }
    {{end}}

    {{if $v.IsEnabled "fastcgi"}}
    {{range $kk,$vv := $v.GetExtraList `fastcgi`}}
    @php_fastcgi_matcher_{{$kk}} {
        path {{$vv.Get "path"|$v.AddPathWildcardSuffix}}
        {{if $vv.Get `ext`}}
        path_regexp {{$vv.Get "ext"|$v.RegexpQuote}}
        {{end}}
        {{$except := $vv.Get "except"}}
        {{if $except}}
        not path_regexp "^({{Join ($v.SplitBySpaceWithRegexpQuote $except) `|`|$v.AddSlashes|ToHTML}})"
        {{end}}
    }
    php_fastcgi @php_fastcgi_matcher_{{$kk}} {{$vv.Get "endpoint"}} {
        {{$vv.AddonAttr "root"}}
        {{$vv.AddonAttr "split"}}
        {{$vv.IteratorKV "env" "        env    "}}
        {{$vv.AddonAttr "index"}}
        {{$vv.AddonAttrFromKey "upstream" "to"}}
        {{$vv.AddonAttrFromKey "connect_timeout" "dial_timeout"}}
        {{$vv.AddonAttrFromKey "read_timeout" "read_timeout"}}
        {{$vv.AddonAttrFromKey "send_timeout" "write_timeout"}}
    }
    {{end}}
    {{end}}
    
    {{if $v.IsEnabled "proxy"}}
    {{range $kk,$vv := $v.GetExtraList `proxy`}}
    {{$from := $vv.Get "from"}}
    {{$without := $vv.Get "without"}}

    {{if $without}}
    handle_path {{$without|$v.AddPathWildcardSuffix}} {
        {{$excepts := $v.SplitBySpaceWithPathWildcardSuffix ($vv.Get "except")}}
        {{if gt (len $excepts) 0}}
        @reverse_proxy_matcher_{{$kk}} {
            not path {{Join $excepts ` `}}
        }
        reverse_proxy @reverse_proxy_matcher_{{$kk}} {{$vv.Get "to"}} {
            {{Include "caddy/makeconfig/caddy2/reverse_proxy" $vv}}
        }
        {{else}}
        reverse_proxy {{$vv.Get "to"}} {
            {{Include "caddy/makeconfig/caddy2/reverse_proxy" $vv}}
        }
        {{end}}
    }
    {{else}}

    @reverse_proxy_matcher_{{$kk}} {
        path {{$from|$v.AddPathWildcardSuffix}}
        {{$excepts := $v.SplitBySpaceWithPathWildcardSuffix ($vv.Get "except")}}
        {{if gt (len $excepts) 0}}
        not path {{Join $excepts ` `}}
        {{end}}
    }
    reverse_proxy @reverse_proxy_matcher_{{$kk}} {{$vv.Get "to"}} {
        {{Include "caddy/makeconfig/caddy2/reverse_proxy" $vv}}
    }
    {{end}}<!-- end:without -->

    {{end}}
    {{end}}

    {{if $v.IsEnabled "browse"}}
    {{range $kk,$vv := $v.GetExtraList `browse`}}
    file_server {{$vv.Get "path"|$v.AddPathWildcardSuffix}} browse {
        {{$root := $v.Get `root`}}
        {{if $root}}
        root "{{$root|$v.AddSlashes|ToHTML}}"
        {{end}}
        hide .git
        {{if $v.Get "index"}}
        index {{$v.Get "index"}}
        {{end}}
        {{if $vv.Get "tmpl"}}
        browse "{{$vv.Get "tmpl"|$v.AddSlashes|ToHTML}}"
        {{end}}
    }
    {{end}}
    {{end}}

    {{if $v.IsEnabled "expires"}}
    {{range $kk,$vv := $v.GetKVList "expires" "match"}}
    {{$duration := $v.AsDuration $vv.V}}
    {{if $duration}}
    @static_{{$kk}} {
        file
        path_regexp "{{$vv.K|$v.AddSlashes|ToHTML}}"
    }
    header @static_{{$kk}} Cache-Control max-age={{$duration.Seconds}}
    {{end}}
    {{end}}
    {{end}}

    {{$v.Get "rewrite_rule"|ToHTML}}
}
