{{$v := $.Get `values`}}
{{$prefix := $.Get `ngingPrefix`}}
{{$id := $.Get `id`}}
{{- range $key,$val := $v.GetNginxDomainList}}
{{$.Set `DomainInfo` $val}}
{{if $v.IsEnabled "fastcgi"}}
{{range $kk,$vv := $v.GetExtraList `fastcgi`}}
{{$upstream := $vv.Get "upstream"}}
    {{if $upstream}}
upstream nging_fastcgi_{{$id}}_{{$kk}}{
    {{$policy := $vv.Get "policy"}}
    {{if $policy}}
    {{if eq $policy `least_conn` `ip_hash`}}
    {{$policy}};
    {{else if eq $policy `random`}}
    #hash $request_uri; # thirdparty
    #sticky name=NUPServer expires=6h; # thirdparty
    {{end}}
    {{end}}
    
    #ip_hash;
    server {{$vv.Get "endpoint"}};
    {{range $v.SplitBySpace $upstream}}
    server {{.}};
    {{end}}

    {{$keepalive := $vv.Get "keepalive"}}
    {{if and $keepalive (ne $keepalive `0`)}}
    keepalive {{$keepalive}};
    {{end}}
}
    {{end}}
{{end}}
{{end}}


{{if $v.IsEnabled "proxy"}}
{{range $kk,$vv := $v.GetExtraList `proxy`}}
{{$upstream := $vv.Get "upstream"}}
    {{if $upstream}}
    {{$policy := $vv.Get "policy"}}
    {{$serverGroup := $vv.ServerGroup "to" (printf `nging_proxy_%d_%d` $id $kk)}}
    {{$.Set (printf `proxyServerGroup%d` $kk) $serverGroup}}
upstream nging_proxy_{{$id}}_{{$kk}}{
    {{if eq $policy `ip_hash`}}
    ip_hash;
    {{else if eq $policy `least_conn`}}
    least_conn;
    {{else if eq $policy `random`}}
    random;
    {{else}}
    {{/* 默认:rr;(round_robin) */}}
    {{end}}
    server {{$serverGroup.Host}};
    {{range $v.SplitBySpace $upstream}}
    server {{.}};
    {{end}}

    {{$keepalive := $vv.Get "keepalive"}}
    {{if and $keepalive (ne $keepalive `0`)}}
    keepalive $keepalive;
    {{end}}
}
    {{end}}
{{end}}
{{end}}


{{if $v.IsEnabled "log"}}
log_format nging_log_format_{{$id}} '{{$v.AsNginxLogFormat|$v.AddSlashesSingleQuote|ToHTML}}';
{{end}}


{{if $v.IsEnabled "cors"}}
{{range $kk,$vv := $v.GetExtraList `cors`}}
{{$domains := $vv.Get `domains`}}
map $http_host $allow_cors_host_{{$id}}_{{$kk}} {
    {{if $domains}}
    default 0;
    "~^{{Join ($v.SplitBySpaceWithRegexpQuote $domains) `|`|$v.AddSlashes|ToHTML}}$" 1;
    {{else}}
    default 1;
    {{end}}
}
map $http_origin $allow_cors_origin_{{$id}}_{{$kk}} {
    {{if $vv.Get `origin_regexp`}}
    default 0;
    "~*{{$vv.Get `origin_regexp`|$v.AddSlashes|ToHTML}}" 1;
    {{else}}
    default 1;
    {{end}}
}
{{end}}
{{end}}


{{if $v.IsEnabled "ratelimit"}}
limit_req_zone $binary_remote_addr zone=limit_zone_{{$id}}:10m rate={{$v.NginxLimitRateWithUnit}};
{{end}}


server {
    listen {{$val.Port}} {{- range $val.Args}} {{.}}{{end}};
    listen [::]:{{$val.Port}} {{- range $val.Args}} {{.}}{{end}};
    server_name {{Join $val.Domains `,`}};

    {{if $v.IsEnabled "basicauth"}}
    {{$resources := $v.GetValueList "basicauth" "resources"|$v.SliceRegexpQuote}}
    {{if gt (len $resources) 1}}
    location ~ "^({{Join $resources `|`|$v.AddSlashes|ToHTML}})" {
        {{Include "caddy/makeconfig/nginx/basicauth" $}}    
    }
    {{end}}
    {{end}}

    {{$root := $v.Get "root"}}
    {{if $root}}
    root "{{$root|$v.AddSlashes|ToHTML}}";
    {{end}}


    {{if $v.Get "index"}}
    index {{$v.Get "index"}};
    {{else}}
    index {{$v.Get "fastcgi_index"}} index.html index.htm index.txt default.html default.htm default.txt;
    {{end}}

    {{$locations := $v.NginxLocations}}
    {{range $kk, $path := $locations.SortedStaticPath}}
    {{$defs := index $locations.GroupByPath $path}}
    location {{$path}} {
    {{range $dk, $def := $defs}}
        {{if gt (len $def.Items) 0}}
        {{range $_k, $item := $def.Items}}
        {{$item.Key}} {{$item.Val}} {{- range $item.Args}} {{.}}{{end}};
        {{end}}
        {{else if eq $def.Module `header`}}
        {{$def.ExtraItem.IteratorHeaderKV "" "        add_header " "" true}}
        {{else}}
        {{$.Set `currentPath` $path}}
        {{$.Set `_vv` $def.ExtraItem}}
        {{$.Set `_kk` $def.ExtraIndex}}
        {{$.Fetch (printf `caddy/makeconfig/nginx/%s` $def.Module) $}}
        {{end}}
    {{end}}
    }
    {{end}}

    {{range $kk, $path := $locations.SortedRegexpPath}}
    {{$defs := index $locations.GroupByPath $path}}
    location ~ {{$path}} {
    {{range $dk, $def := $defs}}
        {{if gt (len $def.Items) 0}}
        {{range $_k, $item := $def.Items}}
        {{$item.Key}} {{$item.Val}} {{- range $item.Args}} {{.}}{{end}};
        {{end}}
        {{else}}
        {{$.Set `currentPath` $path}}
        {{$.Set `_vv` $def.ExtraItem}}
        {{$.Set `_kk` $def.ExtraIndex}}
        {{$.Fetch (printf `caddy/makeconfig/nginx/%s` $def.Module) $}}
        {{end}}
    {{end}}
    }
    {{end}}
    
    {{Include "caddy/makeconfig/nginx/gzip" $}}
    {{Include "caddy/makeconfig/nginx/fastcgi" $}}

    {{if $v.IsEnabled "log"}}
    access_log  "{{$v.Get "log_file"|$v.AddSlashes|ToHTML}}" nging_log_format_{{$id}} buffer=512k flush=1m;
    #error_log  /var/log/nginx/error.log warn;
    {{end}}
 
    {{Include "caddy/makeconfig/nginx/tls" $}}
    
    {{if $v.IsEnabled "expires"}}
    {{$matchRules := $v.GetKVList "expires" "match"}}
    {{if gt (len $matchRules) 1}}
    {{range $kk,$vv := $matchRules}}
    location ~ "{{$vv.K|$v.AddSlashes|ToHTML}}" {
        expires {{$vv.V|Default `12h`}};
    }
    {{end}}
    {{end}}
    {{end}}

    location ^~ /.well-known {
        allow all;
    }

    location ~ /\. {
        deny all;
    }

    {{$v.Get "rewrite_rule"|ToHTML}}
}
{{end}}
