{{Extend "layout"}}
{{Block "title"}}{{if $.Stored.isAdd}}{{"添加引擎配置"|$.T}}{{else}}{{"修改引擎配置"|$.T}}{{end}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li><a href="{{BackendURL}}/caddy/server">{{"引擎配置"|$.T}}</a></li>
<li class="active">{{if $.Stored.isAdd}}{{"添加"|$.T}}{{else}}{{"修改"|$.T}}{{end}}</li>
{{/Block}}
{{Block "main"}}
<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
          <div class="header">							
            <h3>{{if $.Stored.isAdd}}{{"添加引擎配置"|$.T}}{{else}}{{"修改引擎配置"|$.T}}{{end}}</h3>
          </div>
          <div class="content">
              <form class="form-horizontal group-border-dashed" method="POST" action="">
              <div class="form-group">
                <label class="col-sm-2 control-label required">{{"引擎"|$.T}}</label>
                <div class="col-sm-8">{{$engine := $.Form "engine" "nginx"}}
                  {{- range $k, $v := $.Stored.engineList -}}
                  <div class="radio radio-success radio-inline"> 
                    <input type="radio" value="{{$v.K}}" id="engine-{{$v.K}}" name="engine"{{if eq $v.K $engine}} checked{{end}}><label for="engine-{{$v.K}}">{{$v.V|$.T}}</label> 
                  </div>
                  {{- end -}}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"名称"|$.T}}</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" required name="name" value="{{$.Form `name`}}">
                    <div class="help-block">{{`中文名称描述`|$.T}}</div>
                </div>
                <label class="col-sm-2 control-label">{{"唯一标识"|$.T}}</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" required name="ident" value="{{$.Form `ident`}}" placeholder="nginx" pattern="^[a-zA-Z0-9_-]+$"{{if not $.Stored.isAdd}} disabled{{end}}>
                    <div class="help-block">{{`唯一标识只能包含字母、数字、下划线或短横。设置后不可更改`|$.T}}</div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"执行文件路径"|$.T}}</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" required name="executableFile" value="{{$.Form `executableFile`}}">
                    <div class="help-block">
                      {{`支持调用 docker 命令来执行容器内的可执行文件，例如：`|$.T}} docker exec <code>{{`容器ID或容器名`|$.T}}</code> nginx
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"配置文件路径"|$.T}}</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="configFile" value="{{$.Form `configFile`}}">
                    <div class="help-block">
                      {{`此路径为配置文件的路径，而且必须是网站服务引擎可以访问的文件`|$.T}}
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"网站配置保存目录"|$.T}}</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="vhostConfigDir" value="{{$.Form `vhostConfigDir`}}">
                    <div class="help-block">
                      {{`此处设置保存网站配置文件的文件夹路径，必须是本系统可以访问的文件夹`|$.T}}<br />
                      {{`如果不设置，则保存到默认文件夹：`|$.T}} <span id="defaultConfigDir"></span>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"工作目录"|$.T}}</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="workDir" value="{{$.Form `workDir`}}">
                </div>
                <label class="col-sm-2 control-label">{{"命令带配置文件"|$.T}}</label>
                <div class="col-sm-3">{{$v := $.Form "cmdWithConfig" "N"}}
                  <div class="radio radio-success radio-inline"> 
                    <input type="radio" value="Y" id="cmdWithConfig-Y" name="cmdWithConfig"{{if eq $v `Y`}} checked{{end}}><label for="cmdWithConfig-Y">{{"是"|$.T}}</label> 
                  </div>
                  <div class="radio radio-primary radio-inline"> 
                    <input type="radio" value="N" id="cmdWithConfig-N" name="cmdWithConfig"{{if eq $v `N`}} checked{{end}}><label for="cmdWithConfig-N">{{"否"|$.T}}</label> 
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"状态"|$.T}}</label>
                <div class="col-sm-8">{{$v := $.Form "disabled" "N"}}
                  <div class="radio radio-primary radio-inline"> 
                    <input type="radio" value="N" id="disabled-N" name="disabled"{{if eq $v `N`}} checked{{end}}><label for="disabled-N">{{"启用"|$.T}}</label> 
                  </div>
                  <div class="radio radio-danger radio-inline"> 
                    <input type="radio" value="Y" id="disabled-Y" name="disabled"{{if eq $v `Y`}} checked{{end}}><label for="disabled-Y">{{"禁用"|$.T}}</label> 
                  </div>
                </div>
              </div>
          <div class="form-group form-submit-group">
					<div class="col-sm-9 col-sm-offset-2">
						<button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> {{"保存"|$.T}}</button>
						<button type="reset" class="btn btn-default btn-lg"><i class="fa fa-refresh"></i> {{"重置"|$.T}}</button>
					</div>
				</div>
            </form>
          </div><!-- /.content -->
        </div><!-- /.block-flat -->
    </div>
</div>
{{/Block}}


{{Block "footer"}}
<script>
var defaultConfigDirs = {{$.Stored.configDirs}};
$(function(){
  function setDefaultConfigDirTips(elem){
    var v=$(elem).val(),dftDir=defaultConfigDirs[v];
    $('#defaultConfigDir').html(dftDir?dftDir+'/'+($('input[name=ident]').val()?'<span id="defaultConfigSubdir">'+$('input[name=ident]').val()+'</span>':'<code>'+App.t('唯一标识')+'</code>')+'/':'');
  }
  setDefaultConfigDirTips('input[name=engine]:checked');
  $('input[name=engine]').on('click',function(){
    setDefaultConfigDirTips(this);
  })
  $('input[name=ident]').on('change',function(){
    $('#defaultConfigSubdir').text(this.value);
  })
})
</script>
{{/Block}}