{{Extend "layout"}}
{{Block "title"}}{{$.Stored.title}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li><a href="{{BackendURL}}/caddy/vhost">{{"网站列表"|$.T}}</a></li>
<li class="active">{{$.Stored.title}}</li>
{{/Block}}
{{Block "headEnd"}}
<link rel="stylesheet" href="{{AssetsURL}}/caddy/css/vhost_edit.css?t={{BuildTime}}" />
{{/Block}}
{{Block "main"}}
<div class="row">
    <div class="col-md-12">
<form class="form-horizontal group-border-dashed" method="POST" action="" id="vhostForm">
<div class="tab-container tab-left tab-flex">
    <ul class="nav nav-tabs flat-tabs">
    {{- range $k, $v := $.Stored.moduleList -}}
    {{- $notEnabled := and $v.H.turnable (ne ($.Form $v.K) `1`) -}}
      <li class="{{if $v.H.engineValid}}engine-show-{{$v.H.engineValid}}{{else if $v.H.engineInvalid}}engine-hide-{{$v.H.engineInvalid}}{{end}}{{if $notEnabled}} not-enabled{{end}}{{if eq $k 0}} active{{end}}"><a href="#tabVhost-{{$v.K}}" data-toggle="tab">{{$v.V|$.T}}</a></li>
    {{- end -}} 
    </ul>
    <div class="tab-content">
    {{- range $k, $v := $.Stored.moduleList -}}
      <div class="tab-pane cont fade{{if eq $k 0}} active in{{end}}" id="tabVhost-{{$v.K}}">
            <h3 class="hthin">
              {{$v.V|$.T}}
              {{- if $v.H.docURL -}}
              <a class="engine-show-default" href="{{$v.H.docURL}}" target="_blank" data-toggle="tooltip" title="{{`查看文档`|$.T}}" class="normal">(?)</a>
              {{- else if $v.H.docURLs -}}
              {{- range $dk,$dv:= $v.H.docURLs -}}
              <a class="engine-show-{{$dk}}" href="{{$dv}}" target="_blank" data-toggle="tooltip" title="{{`查看文档`|$.T}}" class="normal">(?)</a>
              {{- end -}}
              {{- end -}}
            </h3>
            <div class="form-group">
                  {{- if $v.H.turnable -}}
                  {{- $val := $.Form $v.K `0` -}}
                  <div class="radio radio-primary radio-inline"> 
                    <input type="radio" value="1" id="{{$v.K}}-enable" name="{{$v.K}}" data-slide-settings="show"{{if eq $val `1`}} checked{{end}}><label for="{{$v.K}}-enable">{{"启用"|$.T}}</label> 
                  </div>
                  <div class="radio radio-danger radio-inline"> 
                    <input type="radio" value="0" id="{{$v.K}}-disable" name="{{$v.K}}" data-slide-settings="hide"{{if eq $val `0` ``}} checked{{end}}><label for="{{$v.K}}-disable">{{"禁用"|$.T}}</label> 
                  </div>

                  {{- if $v.H.noWrapper -}}
                  <div class="hide" id="{{$v.K}}-settings">
                    {{- if eq $val `1`}}{{$.Fetch (printf "caddy/addon/form/%s" $v.K) $}}{{end -}}
                  </div>
                  {{- else if $v.H.multiple -}}
                  <div class="hide" id="{{$v.K}}-settings" multiple>
                    <div class="fieldset bg-fc spacer-bottom-xs" id="{{$v.K}}-settings-inner">
                      {{- if eq $val `1`}}{{$.Fetch (printf "caddy/addon/form/%s" $v.K) $}}{{end -}}
                    </div>
                    {{- $indexName := printf `%s_extra_index[]` $v.K -}}
                    {{- range $index, $value := $.FormxValues $indexName -}}
                    <div class="fieldset bg-fc spacer-bottom-xs">
                      {{- $.Set `namePrefix` (printf `%s_extra[%v]` $v.K $value) -}}
                      <input type="hidden" name="{{$indexName}}" value="{{$value}}" />
                      {{$.Fetch (printf "caddy/addon/form/%s" $v.K) $}}
                      {{- $.Set `namePrefix` `` -}}
                    </div>
                    {{- end -}}
                    <a href="javascript:;" onclick="copyFormHTML('#{{$v.K}}-settings','{{$v.K}}_extra',true)" class="vhost-section-add" title="{{`增加规则`|$.T}}"><i class="fa fa-plus"></i></a>
                  </div>
                  {{- else -}}
                  <div class="fieldset bg-fc hide" id="{{$v.K}}-settings">
                    {{- if eq $val `1`}}{{$.Fetch (printf "caddy/addon/form/%s" $v.K) $}}{{end -}}
                  </div>
                  {{- end -}}

                  {{- else -}}
                    {{- $.Fetch (printf "caddy/addon/form/%s" $v.K) $ -}}
                  {{- end -}}
            </div><!-- /form-group -->
      </div>
    {{- end -}}
    </div><!-- /tab-content -->
</div><!-- /tab-container -->

<div class="block-flat no-padding">
<div class="content">
<div class="form-group form-submit-group">
  <div class="col-sm-3 control-label">&nbsp;</div>
    <div class="col-sm-9">
      <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> {{"保存"|$.T}}</button>
      <button type="reset" class="btn btn-default btn-lg"><i class="fa fa-refresh"></i> {{"重置"|$.T}}</button>
    </div>
</div><!-- /form-group -->
</div><!-- /content -->
</div><!-- /block-flat -->

</form>
</div><!-- /col-md-12 -->
</div><!-- /row -->
{{/Block}}


{{Block "footer"}}
<script type="text/javascript" src="{{AssetsURL}}/js/textarea/editor.min.js?t={{BuildTime}}"></script>
<script type="text/template" id="tmplAddVariableRow">
<tr>
	<td><input type="text" class="form-control" name="{k}" value=""></td>
	<td><input type="text" class="form-control" name="{v}" value=""></td>
	<td class="text-center">
    <button type="button" class="btn btn-danger" onclick="$(this).parent().parent().remove()">
      <i class="fa fa-times"></i>
    </button>
  </td>
</tr>
</script>
<script type="text/template" id="tmplAddVariableRowSingleCell">
<tr>
	<td><input type="text" class="form-control" name="{k}" value=""></td>
	<td class="text-center">
    <button type="button" class="btn btn-danger" onclick="$(this).parent().parent().remove()">
      <i class="fa fa-times"></i>
    </button>
  </td>
</tr>
</script>
{{call $.Func.Modal "__TMPL__/caddy/request_placeholders.yaml"}}
<script type="text/javascript" src="{{AssetsURL}}/caddy/js/vhost_edit.js?t={{BuildTime}}"></script>
{{/Block}}