{{$vv := .}}
        {{$methods := $vv.Get `methods`}}
        {{if $methods}}
        Access-Control-Allow-Methods $methods
        {{end}}
        
        Access-Control-Allow-Credentials {{$vv.GetAttrVal "allow_credentials" "false"}}
        
        {{$allowedHeaders := $vv.Get `allowed_headers`}}
        {{if $allowedHeaders}}
        Access-Control-Allow-Headers {{$allowedHeaders}}
        {{end}}
        
        {{$exposedHeaders := $vv.Get `exposed_headers`}}
        {{if $exposedHeaders}}
        Access-Control-Expose-Headers {{$exposedHeaders}}
        {{end}}
        
        {{$maxAge := $vv.Get `max_age`}}
        {{if $maxAge}}
        Access-Control-Max-Age {{$maxAge}}
        {{end}}